.user-assignee-block {
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    background-color: #6b6b6b;
    color: white;
    background-image: url('https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png');
  }
  .dropdown-toggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0px;
    color: black;
    border: none;
    box-shadow: none;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
}

.calendar-modal {
  .dropdown {
    background-color: white;
    button:hover {
      background-color: #f5f5f5;
    }
  }
  .dropdown-toggle {
    border-radius: 5px;
    padding: 0px;
    color: black;
    border: none;
    box-shadow: none;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
}
